<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/stylesheets/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/vendor/highlight/styles/sunburst.css" media="screen" />
  <!--    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> 
  <script src="{{ site.url_root }}/vendor/highlight/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2203206-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>

<!-- github fork me -->
<a href="http://github.com/mchelen/michaelchelen.net" target="_blank" title="Follow Mike Chelen (@mikechelen) on Twitter" class="forkme">github</a>

<body>

<!-- main content -->
  <div id="content">
    <h1 id="header"><a href="{{ site.url_root }}/">[Home]</a> {{ page.title }}</h1>

    <div id="article">
      {{ content }}
    </div>
    
<!-- disqus -->    
    <script type="text/javascript">
    var disqus_shortname = 'michaelchelennet';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.src = 'http://disqus.com/forums/michaelchelennet/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </div>




<!-- disqus recent comments -->
    <div id="recentcomments" class="dsq-widget rightblock"><h2 class="dsq-widget-title">Recent Comments</h2><script type="text/javascript" src="http://michaelchelennet.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=0&avatar_size=32&excerpt_length=200"></script></div>  
    </div>
    
<!-- social links -->    
    <div id="social" class="rightblock">
      <div class="button">
        <a class ="button" href="https://twitter.com/intent/follow?region=follow_link&screen_name=mikechelen&tw_p=followbutton" title="Follow Mike Chelen (@mikechelen) on Twitter">Follow @mikechelen</a>
      </div>
    </div>

<!-- recent posts -->
<div class="rightblock">
<h2>Recent Posts</h2>
{% for post in site.posts limit:10 %}
        <div style="padding-bottom:.5em;">
          <a href="{{ post.url }}" style="font-weight:bold">{{ post.title }}</a>
          <div style="">
              Posted {{ post.date | date_to_string }}</a>
          </div>
        </div>
{% endfor %}
</div>



<!-- disqus popular threads -->
<!--
<div id="popularthreads" class="dsq-widget rightblock"><h2 class="dsq-widget-title">Popular Threads</h2><script type="text/javascript" src="http://michaelchelennet.disqus.com/popular_threads_widget.js?num_items=5"></script></div>
-->

 

</body>
</html>
